@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body {
    background:#F0EBEB;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: Amatic SC, sans-serif, Roboto;
}